header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.container {
    display: grid;

    grid-template-areas: 
        "header header"
        "sidebar content"
        "footer footer";
    grid-template-columns: 200px 1fr;
    gap: 10px;
}