header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: 22fr 22fr 22fr;
    background-color: aquamarine;
}
